{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>ATTIPAS community</title>
     <link href="{% static '/css/first.css' %}" rel="stylesheet">
</head>
<body>
  <!-- Шапка -->
  <nav class="top-menu">
  <a class="navbar-logo" href=""><img src="logo.png" width=210 height=70></a>
  <ul class="menu-main">
    <li><a href="">Главная</a></li>
    <li><a href="">О продукции</a></li>
    <li><a href="">Каталог</a></li>
    <li><a href="">Войти</a></li>
  </ul>
</nav>
{% block content %}
<div class="all">
<input checked type="radio" name="respond" id="desktop">
  <article id="slider">
      <input checked type="radio" name="slider" id="switch1">
      <input type="radio" name="slider" id="switch2">
      <input type="radio" name="slider" id="switch3">
      <input type="radio" name="slider" id="switch4">
      <input type="radio" name="slider" id="switch5">

      <br>
      <!-- Слайдер -->
    <div id="slides">
      <div id="overflow">
        <div class="image">
          <article><img src="1.jpg"></article>
          <article><img src="2.jpg"></article>
          <article><img src="3.jpg"></article>
          <article><img src="4.jpg"></article>
          <article><img src="5.jpg"></article>
        </div>
      </div>
    </div>
    <div id="controls">
      <label for="switch1"></label>
      <label for="switch2"></label>
      <label for="switch3"></label>
      <label for="switch4"></label>
      <label for="switch5"></label>
    </div>
    <div id="active">
      <label for="switch1"></label>
      <label for="switch2"></label>
      <label for="switch3"></label>
      <label for="switch4"></label>
      <label for="switch5"></label>
    </div>
    <br> <br> <br>
<!-- Основной контент -->
<strong><font color="#ff6257" face="Arimo" >СЕМЬ</font>  ФАКТОВ ОБ <font color="#3f9cb5" face="Arimo" >ATTIPAS</font> </strong> <br>
  <br><div class="facts">
    <div class="fact">
        <img src="static/img/udobstvo.png" width=10 height=90>

        <strong> Удобство </strong><br> <br>
        Держат ногу в одном положении,
        можно стирать в машинке,  можно быстро сушить
     </div>
     <div class="fact">
         <img src="static/img/vozduh.png" width=10 height=90>

         <b> Воздухопроницаемость </b><br> <br>
         Превосходные воздухопроницаемые
         отверстия для проветривания, что
         не даёт ногам ребенка запотеть
      </div>
      <div class="fact">
          <img src="static/img/obhvat.png" width=10 height=90>

          <b> Правильный обхват </b><br> <br>
          Свободное движение пальцев ног
           для улучшения когнитивного и моторного развития
       </div>
       <div class="fact">
       <img src="static/img/bezopasnost.png" width=10 height=90>

       <b> Безопасность </b><br> <br>
       В производстве не используются опасные материалы, такие как:
       клей и формальдегид
    </div>
    <div class="fact">
    <img src="static/img/gibkost.png" width=100 height=90>

    <b> Легкие и гибкие </b><br> <br>
    По весу, почти не отличаются от носков
 </div>
          </div>
          <br><br><br><br><br>

          <!-- ____________Блок объявлений______________ -->
          <div class="ads">
          <div class="ad">
          {% for product in product %}
          <img src="{{product.image.url}}">
          <b><a href="{{product.get_absolut_url}}">{{product.title}}</a> </b><br> <br>
          <p>
            <b>{{product.price}} сом</b>
          {{product.description}}
          </p>
          </div>
            {% endfor %}
          </div>
          {% endblock content %}

</body>




</html>
